    <h1>Чат</h1>
    <span>Node + Express + Socket.io</span>
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel teal">
        <div class="row">
            <div class="col m8">
                <ul id="chat_messages" class="collection">
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <span id="username"></span>
                </div>
                <div class="row">
                    <div class="collection h_chat_users" id="chat_users">
                    </div>
                </div>
            </div>      
        </div>
        <div class="row">   
            <div class="input-field col m8">
                <input id="message" type="text" data-length="10">
            </div>
            <div class="input-field col m2">
                <button id="chat_send" type="text" data-length="10">send</button>
            </div>
        </div>
      </div>
    </div>
  </div>




{{!-- 
    <h1>Hello, </h1>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="chat_username" type="text" data-length="10">
            <label for="chat_username">Your name:</label>
            <button id="change_name">CHANGE</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="chat_messages" rows="50" class="materialize-textarea" data-length="120"></textarea>            
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="message" class="materialize-textarea" data-length="120"></textarea>
            <label for="message">Textarea</label>
            <button id="chat_send">send</button>

          </div>
        </div>
      </form>
    </div> --}}