<div>
  <nav>
    <div class="nav-wrapper h_menu_nav">
      <a href="/" class="brand-logo"><div class="logo-menu">
        <span>&nbsp;</span>
      </div></a>
      <!-- Dropdown Structure -->
      <ul id="dropdown_shop" class="dropdown-content">
        <li><a href="/shop">Курси</a></li>
        <li><a href="/shop/add">Додати курс</a></li>
        <li><a href="/shop/card">Кошик</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down h_menu_dropdown">
        <li><a href="/">Головна</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown_shop">Магазин<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/chat">Чат</a></li>
      </ul>
    </div>
  </nav>
</div>