<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Humeniuk.TECH</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="bw">
    <div class="logo c_soon_bw">
        <div class="logo_bw" onclick="changeTheme()">
            &nbsp;
        </div>
        <span>Coming soon...</span>
    </div>
<script src="/static/js/script.js"></script>
</body>
</html>