.color{
    background:#fff;
}
.bw{
    background:#222222;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo_bw{
    height: 150px;
    width: 300px;
    background:url('/static/img/logo_bw.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.logo_color{
    height: 150px;
    width: 300px;
    background:url('/static/img/logo_color.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.c_soon_color{
    text-align: center;
    color:#300D4B;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}
.c_soon_bw{
    text-align: center;
    color:#fff;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}

.main_menu{
    padding: 10px 0px;
    text-align: center;
    list-style: none;
    background-color: #222222;
}
.main_menu .description{
    display: block;
    font-size: 8pt;
    padding: 5px;
    text-align: left;
    color:#ff3f00;
    font-weight: 200;
}
.main_menu ul{
    margin: 0px;
    padding:0px;
}
.main_menu li{
    display: inline;
    padding: 20px;
}
.main_menu a{
    text-decoration: none;
    color:white
}
.main_menu a:hover{
    text-decoration: none;
    color:#ff0;
}
.chat-background{
    background-color: #ff0;
}
.logo-menu{
    height: 80px;
    width: 149px;
    padding: 10%;
    background-color: #1474bc;
}
.logo-menu span{
    background: url(/static/img/logo_bw.svg);
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}


.nav-wrapper {
    background-color: #222222 !important;
    font-size: 14px;
    font-weight: bold;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    left: 10%;
}
/* nav ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    padding-right: 10%;
} */
nav a:hover{
    text-decoration: none;
    color:#ff0;
}

.h_menu_nav
{
    padding-right: 10%;
}
.h_menu_dropdown li
{
    background-color: #222;
}
.h_menu_dropdown li a
{
    color: #fff;
}
.h_menu_dropdown li:hover
{
    background-color: #1474bc;
}
.container{
    margin-top: 36px;
}