.color{
    background:#fff;
}
.bw{
    background:#222222;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo_bw{
    height: 150px;
    width: 300px;
    background:url('/static/img/logo_bw.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.logo_color{
    height: 150px;
    width: 300px;
    background:url('/static/img/logo_color.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.c_soon_color{
    text-align: center;
    color:#300D4B;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}
.c_soon_bw{
    text-align: center;
    color:#fff;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}

.main_menu{
    padding: 10px 0px;
    text-align: center;
    list-style: none;
    background-color: #222222;
}
.main_menu .description{
    display: block;
    font-size: 8pt;
    padding: 5px;
    text-align: left;
    color:#ff3f00;
    font-weight: 200;
}
.main_menu ul{
    margin: 0px;
    padding:0px;
}
.main_menu li{
    display: inline;
    padding: 20px;
}
.main_menu a{
    text-decoration: none;
    color:white
}
.main_menu a:hover{
    text-decoration: none;
    color:#ff0;
}